@model  Dictionary<string, object>

<hgroup class="title">
    <h1>HTTP Methods</h1>
    <h2>POST, PUT, DELETE</h2>
</hgroup>


@using (Html.BeginForm("Put", "Client"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>PUT</legend>
        <ol>
            @foreach (var key in Model.Keys)
            { 
                <li>
                    @Html.Label(key)
                    @Html.TextBox(key, Model[key])
                    <input id="put" type="submit" name="put" value="PUT" />
                </li> 
            }
        </ol>
    </fieldset>
}

@using (Html.BeginForm("Delete", "Client"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>DELETE</legend>
        <ol>
            @foreach (var key in Model.Keys)
            { 
                <li>
                    <label id="lblKey">@key - @Model[key]</label>
                    @Html.Hidden("key", key)
                    <input id="delete" type="submit" name="delete" value="DELETE" />
                </li> 
            }
        </ol>

    </fieldset>
}


@using (Html.BeginForm("Post", "Client"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>POST</legend>
        <ol>
            @foreach (var key in Model.Keys)
            { 
                <li>
                    @Html.Label(key)
                    @Html.TextBox(key, Model[key])
                </li> 
            }
        </ol>
        <input id="add" type="submit" name="add" value="Add" />

    </fieldset>
}
